/* Contenedor principal */
.body-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
}

.main-container {
    align-items: center;
    background-color: #0B1220;
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px;
    width: 50%;
}

/* Encabezado de sección */
.selection-article {
    margin: 2rem;
}

.selection-title {
    color: white;
}

.selection-text {
    color: white;
}

/* La Tarjeta (Card) */
.event-card {
    width: 100%;
    cursor: pointer;
    background-color: #0B1220;
    color: white;
    border: 1px solid #333;
    border-radius: 15px;
    overflow: hidden;
    font-family: sans-serif;
}

.card-img-container {
    position: relative;
}

.card-img-top {
    display: block;
}

/* Badge de fecha (esquina superior izquierda) */
.date-badge {
    position: absolute;
    color:white;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 8px;
    text-align: center;
    line-height: 1.2;
}

.date-day {
    font-weight: bold;
    font-size: 2rem;
}

.date-month {
    font-size: 1.5rem;
    color: #ccc;
    text-transform: uppercase;
}

/* Icono de check (esquina superior derecha) */
.check-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    color: #0B1220;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

/* Cuerpo de la tarjeta */
.card-header-body {
    padding: 1.2rem 1.2rem 0.5rem 1.2rem;
}

.event-title {
    margin-bottom: 0.2rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.event-subtitle {
    color: #8e94a5;
    font-weight: normal;
    font-size: 0.9rem;
}

.card-details-body {
    padding: 0.5rem 1.2rem 1.2rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.detail-item {
    display: flex;
    align-items: center;
    color: #8e94a5;
}

.detail-icon {
    width: 50px;
    font-size:2rem;
    color:black;
}

.detail-text {
    font-size: 1.5rem;
    color:black;
}

.category-tag{
    font-size:1.5rem;

}

.selection-container {
    padding: 20px;
    text-align: center;
    color: white;
}

.title-event {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.screen {
    background: #333;
    padding: 5px;
    margin: 0 auto 2rem auto;
    width: 60%;
    border-radius: 0 0 50px 50px;
}

.sector {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

    .sector table {
        border-spacing: 5px;
    }